 <p class="inputSearchWrap" id="search">
    <input type="text"  name="search" class="inputSearch" value="{{ search }}" placeholder="{{ text_search }}"> 
    <button class="search">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</p>